################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestingNetCore/v15
/obj/Debug/netcoreapp2.0/TestingNetCore.csprojAssemblyReference.cache
/TestingNetCore.sln
/.vs/config/applicationhost.config
