@{
    ViewData["Title"] = "About";
    var src = string.Empty;
    var input = ViewData["Source"];
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h2>This is my new change44</h2>
<h2>Pushing another change</h2>
My name is Alberto
<p>Use this area to provide additional information.</p>
@{ 
    switch (input)
    {
        case "cat":
            //src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB8p3WtBz9MiGbV888IwlDEL3GxF96UzpbiJ4Rq2fvlzfWmkWj";
            src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj1NnJZITosUxnlagRk80uXgvwXFK_Uu1V7p1u8-XacYF5MXBt";

            break;

        case "dog":
            //src = "http://www.quickmeme.com/img/d6/d6a1143f571184db25f94613edd43b40af6d3a629221aba00d9efdcfef5efd84.jpg";
            src = "https://pics.me.me/Facebook-Best-day-ever-b32584.png";
            break;

        default:
            src = "https://i.imgur.com/7U5Qpii.jpg";
            break;
    }
}
<img src=@src alt="" style="width:50%;">
